/* Importing the font Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}
main {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card {
    flex-basis: 26%;
    min-width: 234px;
    border-radius: 12px;
    padding: 14px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 3%);
}
#qr-image {
    width: 100%;
    border-radius: 10px;
}
#description {
    font-family: 'Outfit', sans-serif;
    padding: 0;
}
#description > h1 {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    font-size: 18px;
}
#description > p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 375px) {
    #card {
        width: 84%;
    }
    #description {
        padding: 0 6%;
    }
}
